.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1c1e22;
}

.navbar-logo {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links li a:hover {
    color: #f1c40f;
}
